asgiref==3.5.2
awsebcli==3.20.3
Beaker==1.11.0
boto3==1.24.56
botocore==1.23.47
Brotli==1.0.9
cement==2.8.2
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.0.12
colorama==0.4.3
cryptography==37.0.2
cssselect2==0.6.0
defusedxml==0.7.1
distlib==0.3.4
dj-database-url==1.0.0
Django==4.1
django-admin-thumbnails==0.2.6
django-cors-headers==3.10.1
django-crispy-forms==1.14.0
django-forestadmin==1.3.2
django-heroku==0.3.1
django-ipware==4.0.2
django-storages==1.13.1
ecdsa==0.17.0
filelock==3.7.1
fonttools==4.36.0
future==0.16.0
gunicorn==20.1.0
html5lib==1.1
idna==3.3
jmespath==0.10.0
Mako==1.2.1
MarkupSafe==2.1.1
marshmallow==3.14.1
marshmallow-jsonapi==0.24.0
numpy==1.23.0
oic==1.4.0
pandas==1.4.3
pathspec==0.9.0
pdfkit==1.0.0
Pillow==9.2.0
platformdirs==2.5.2
psycopg2==2.9.3
pyasn1==0.4.8
pycparser==2.21
pycryptodomex==3.15.0
pydyf==0.2.0
pyjwkest==1.4.2
PyJWT==2.4.0
pyphen==0.12.0
python-dateutil==2.8.2
python-decouple==3.6
python-jose==3.3.0
pytz==2022.1
PyYAML==5.4.1
razorpay==1.3.0
requests==2.26.0
rsa==4.8
s3transfer==0.6.0
semantic-version==2.8.5
six==1.14.0
sqlparse==0.4.2
termcolor==1.1.0
tinycss2==1.1.1
twilio==7.12.1
typing_extensions==4.3.0
tzdata==2022.1
urllib3==1.26.9
virtualenv==20.14.1
wcwidth==0.1.9
weasyprint==56.1
webencodings==0.5.1
whitenoise==6.2.0
zopfli==0.2.1
