{% extends 'base.html' %}

{% block content %}

{% include 'includes/alerts.html'%}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

    <div class="container">
        <div class="row">
        {% include 'includes/dashboard_sidebar.html' %}
        <main class="col-md-9">
            <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3">Edit Profile</strong>
                
            </header>
            <div class="card-body">
              <!-- <div class="text-right">
                <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Profile Picture" width="90" style="border-radius:50px;">
              </div> -->
                <div class="row"> 
                        <div class="col md-12"> 
                            <form action="{% url 'edit_profile' %}" method = 'POST' enctype="multipart/form-data">
                              {% csrf_token %}
                              <div class="form row">
                                <div class="form group col-md-6">
                                  <label> First Name </label>
                                  {{user_form.first_name}}
                                </div>
                              
                              <div class="form group col-md-6">
                                <label> Last Name </label>
                                {{user_form.last_name}}
                              </div>
                            </div><br>
                            <div class="form row">
                              <div class="form group col-md-6">
                                <label> Phone Number </label>
                                {{user_form.phone_number}}
                              </div>
                            
                            <div class="form group col-md-6">
                              <label> Email </label>
                              {{user_form.email}}
                            </div>
                          </div><br>
                          <!-- <div class="form group">
                            <label> Address Line 1 </label>
                            {{profile_form.address_line_1}}
                          </div><br>
                          <div class="form group">
                            <label> Address Line 2 </label>
                            {{profile_form.address_line_2}}
                          </div><br>
                          <div class="form row">
                            <div class="form group col-md-4">
                              <label> City </label>
                              {{profile_form.city}}
                            </div>
                          
                          <div class="form group col-md-4">
                            <label> State </label>
                            {{profile_form.state}}
                          </div>
                          
                          <div class="form group col-md-4">
                            <label> Country </label>
                            {{profile_form.country}}
                          </div>
                        </div><br> -->
                        <input type="submit" value="Save" class="btn btn-primary">
            
                            </form>
                        </div>
                    </div>
                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
            
            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
   
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    

{% endblock %}